<!-- Blog -->
    <div class="vg-page page-blog" id="blog">
        <div class="container">
            <div class="text-center">
                <div class="badge badge-subhead wow fadeInUp">Blog</div>
            </div>
            <h1 class="text-center fw-normal wow fadeInUp">Latest Post</h1>
            <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
                <option class="btn btn-theme-outline selected" data-filter="*" name="post_box">All</option>
                <option class="btn btn-theme-outline" data-filter="Technology" name="post_box">Technology</option>
                <option class="btn btn-theme-outline" data-filter="Gaming" name="post_box">Gaming</option>
                <option class="btn btn-theme-outline" data-filter="Movies" name="post_box">Movies</option>
                <option class="btn btn-theme-outline" data-filter="TV" name="post_box">TV</option>
            </div>
            <div class="row post-grid" id="post-holder">
                <br> {%include 'blogs.html' with blogs=blogs %}
                <br>
            </div>
            
        </div>
    </div>
    <!-- End blog -->