{%extends 'base.html'%}
{%load static%}
{%block head%}
    <title>Blog</title>
{%endblock%}

{%block content%}
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="{%url 'home'%}" class="navbar-brand">H-Folio</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar" aria-expanded="true">
        <span class="ti-menu"></span>
      </button>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav ml-auto">
                </ul>
                <ul class="nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-fab btn-theme no-shadow">En</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navbar -->

    <!-- Blog -->
    <div class="vg-page page-blog" id="blog">
        <div class="container">
            <div class="text-center">
                <div class="badge badge-subhead wow fadeInUp">Blog</div>
            </div>
            <h1 class="text-center fw-normal wow fadeInUp">Latest Post</h1>
            <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
                <option class="btn btn-theme-outline selected" data-filter="*" name="post_box">All</option>
                <option class="btn btn-theme-outline" data-filter="Technology" name="post_box">Technology</option>
                <option class="btn btn-theme-outline" data-filter="Gaming" name="post_box">Gaming</option>
                <option class="btn btn-theme-outline" data-filter="Social life" name="post_box">Social life</option>
            </div>
            <div class="row post-grid" id="post-holder">
                <br> 
                {%include 'blogs.html' with blogs=blogs %}
                <br>
            </div>
        </div>
    </div>
    <!-- End blog -->
{%endblock%}