{%extends 'base.html'%}
{%load static%}
{%block head%}
    <title>Blog</title>
{%endblock%}

{%block content%}
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="{%url 'home'%}" class="navbar-brand">H-Folio</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar" aria-expanded="true">
        <span class="ti-menu"></span>
      </button>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav ml-auto">
                </ul>
                <ul class="nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-fab btn-theme no-shadow">En</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Navbar -->

    {%include 'compents/blog_section.html'%}
    <!-- End blog -->
{%endblock%}